img{
    width: 300px;
    height: 300px;

}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;

    background-color: darkcyan;
    color: antiquewhite;
}
p{
    text-align: center;
    background-color: darkcyan;
    color: antiquewhite;
    font-size: 18px;

}
h2{
    text-align: center;
    background-color: darkcyan;
    color: antiquewhite;
}
a{
    text-decoration: none;
}
body{

    justify-content: center;
    background-color: darkgoldenrod;

}
ul{

    font-size: 14px;
    background-color: blueviolet;
    color:antiquewhite;
    font-family: 'Libre Baskerville', serif;
}

